Source: openpanel-openapp-gui
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com>
Build-Depends: openpanel-gui, debhelper
Standards-Version: 3.7.2

Package: openpanel-openapp-gui
Architecture: any
Depends: openpanel-gui
Description: OpenApp GUI overlay 
 OpenApp GUI overlay to replace logo and remove username from login page

